# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/modules/Blockchain/task/Blockchain.Blockchain-task.iml
/modules/Blockchain/task/Blockchain.Blockchain-task.main.iml
/modules/Blockchain/task/Blockchain.Blockchain-task.test.iml
/modules/Blockchain.iml
/modules/util/Blockchain.util.iml
/modules/util/Blockchain.util.main.iml
/modules/util/Blockchain.util.test.iml
/compiler.xml
/gradle.xml
/libraries/Gradle__com_cedarsoftware_json_io_4_10_1.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/libraries/Gradle__com_github_stefanbirkner_system_rules_1_19_0.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/libraries/Gradle__junit_junit_4_12.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/libraries/Gradle__org_assertj_assertj_core_3_8_0.xml
/libraries/Gradle__org_assertj_assertj_swing_3_8_0.xml
/libraries/Gradle__org_assertj_assertj_swing_junit_3_8_0.xml
/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/frameworkLessonHistory/storage.storageData
/frameworkLessonHistory/storage.storageRecordIndex
/vcs.xml
